<footer>
  <div class='row'>
    <div class='col-lg-6'>
      <p>Copyright &copy; {{ site.sitename }} {{ site.time | date: '%Y' }}</p>
      <p><a href='https://github.com/clbokea/clbokea.github.io/tree/gh-pages?tab=readme-ov-file#contributions'>Contributers</a></p>
      <p><a href='https://github.com/clbokea/clbokea.github.io/'>Github Repository</a></p>
    </div>
    
    <div class='col-lg-6'>
    
	    <i><small>Dataset used in this article: <a href="https://data.sfgov.org/Public-Safety/Police-Department-Incident-Reports-Historical-2003/tmnf-yvry/about_data">Police Department Incident Reports: Historical 2003 to May 2018</a></small></i>
    
    </div>
  </div>
</footer>
